<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openapi.debugger">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application>
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="${BOOT_ACTION}"></action>
            </intent-filter>
        </receiver>
        <service android:name=".DaemonService"/>
        <meta-data
            android:name="dns_filter_pkg_name_prefix"
            android:value="${dns_filter_pkg_name_prefix}">
        </meta-data>
    </application>
</manifest>